<template>
  <div>
    <ol>
      <li v-for="employer in employers" :key="employer.id">
        {{ employer.slug }} | {{ employer.title }}
      </li>
    </ol>
  </div>
</template>

<script>
export default {
  computed: {
    employers() {
      return this.$store.state.employers.list
    }
  }
}
</script>
