<template>
  <div>
    <h3>Growing up</h3>
    <p>
      I grew up in Miami, Florida, USA in the 80s and 90s. And ever since I was
      young I had a fascination with technology. I would spend hours playing
      with (and sometimes breaking) anything that had buttons. And we were lucky
      enough to have a computer in our home, since my parents ran a small
      business. Ostensibly it was for taxes and such, but to me it was a wonder
      machine with many games and infinite possibilities. Sure, I played a lot
      of SimCity and Carmen Sandiego. But I also printed out birthday cards,
      wrote book reports, and occasionally I even did a little BASIC
      programming.
    </p>
    <p>
      I was a teenager when we first got an internet connection via AOL. And it
      wasn't long before I made a website of my own on Geocities about my
      favorite anime at the time (Slayers). Unfortunately, I don't have any
      record of what the URL was, but I think given the time period and subject
      matter, you can pretty much imagine what it was like.
    </p>
    <h3>Now</h3>
    <p>
      I'm a senior frontend software engineer. I live with my partner and our
      rescue greyhound. My favorite way to spend my free time is playing video
      and tabletop games. But I also really enjoy camping, skiing, soccer, and
      tennis. I moved to Ontario Canada in 2018, and before that I had lived in
      Portland Oregon for almost 10 years.
    </p>
  </div>
</template>
